# editorconfig.org
root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_size = 2
max_line_length = 100

[{Makefile,go.mod,go.sum,*.go,.gitmodules}]
indent_style = tab
indent_size = 4

[*.java]
indent_size = 4

[*.xml]
indent_size = 4

[*.md]
trim_trailing_whitespace = false
