<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} %msg %kvp %n</pattern>
    </encoder>
  </appender>

  <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
    <includeCallerData>true</includeCallerData>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <includeCallerData>true</includeCallerData>
      <timeZone>Asia/Jakarta</timeZone>
      <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSS</timestampPattern>
      <fieldNames>
        <timestamp>timestamp</timestamp>
        <message>msg</message>
        <version>[ignore]</version>
        <levelValue>[ignore]</levelValue>
      </fieldNames>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <!-- <appender-ref ref="JSON"/> -->
  </root>
</configuration>
